/* ==========================================================
 * Forms stuff
 */
form.zayso_register_form {
  margin-left: 10px;
  padding: 0;
  border: thin black solid;
  vertical-align: baseline;
  width: 700px; }

form.zayso_password_reset_form {
  margin-left: 10px;
  padding: 0;
  border: thin black solid;
  vertical-align: baseline;
  width: 700px; }

fieldset {
  border: medium solid lime;
  /*
  border-style: solid;
  border-width: medium;
  border-color: lime;*/
  position: relative;
  padding: 5px 5px 5px 5px;
  /* top right bottom left */
  /* background-color: blue; */
  /* max-width: 90%; */ }

fieldset div {
  overflow: hidden;
  margin: 0 0 2px;
  padding: 5px 5px 5px 5px;
  /* max-width: 90%; */
  /* background-color: red; */
  border: thin solid blue; }

/* Labels */
fieldset div label {
  color: #666;
  float: left;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 0.9;
  width: 40%;
  text-align: left;
  margin-top: 5px;
  margin-right: 15px;
  padding-left: 0px 0px 0px 0px; }

/* Input defaults */
fieldset div input,
fieldset div textarea,
fieldset div select {
  color: #333;
  display: block;
  font-size: 100%;
  /* Was 14px */
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  line-height: 1;
  margin: 0; }

/* Text inputs */
fieldset div input {
  margin-top: 1px;
  /* Compensates for select boxes being a bit taller than inut field */
  padding: 0px 0px;
  /*width:   288px; */ }

/* Select menus */
fieldset div select {
  padding: 0px 0px 0px 0px;
  /*width:   291px; */
  /*max-width: 60%; */
  max-width: 350px; }

/* Textareas */
fieldset div textarea {
  height: auto;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  /*max-width: 98%; */
  max-width: 550px; }

/* Submit */
fieldset div.controls {
  background: none; }

fieldset div.controls input {
  /*background: url(../images/ir-submit-create-profile.png) no-repeat 0 0;*/
  float: right; 
  width: auto;
  padding: 5px;
  margin-left: 50px; }

div.radio-medium {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  border: none; }

div.radio-medium label {
  width: auto;
  text-align: left;
  margin-top: 0px;
  margin-left: 5px;
  padding-top: 0px; }

div.radio-medium input {
  margin-top: 4px; }

label.textarea {
  text-align: left; }

/* ===========================================
 * Field specific errors
 */
fieldset div ul {
  color: red;
  clear: left;
  float: left;
  width: 33%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-right: 15px;
  /* Same as fieldset div label */ }
