{% extends 'CeradJanrainBundle:Janrain:layout.html.twig' %}

{% block title %}Janrain Login{% endblock %}

{% block janrain %}{% include 'CeradJanrainBundle:Janrain:janrain.js.twig' %}{% endblock %}

{% block content %}
<h3>Janrain Signin</h3>
<div id="janrainEngageEmbed"></div>
{% endblock %}
