<h3>Account Creation Help</h3>
<ul class="cerad_common_help">
    <li>You <em>MUST</em> answer the first question about attending the games.</li>
    <li>If you are not planing on attending then no need to answer any more.</li>
</ul>
