{# @CeradTourn/PersonPerson/Edit/index.html.twig #}
{% extends '@CeradTourn/layout.html.twig' %}
  
{% block content %}
<h3>Edit Person, Role: {{ personPerson.role }}</h3>
{% include '@CeradTourn/PersonPerson/Edit/form.html.twig' %}
{% include '@CeradTourn/PersonPerson/Edit/help.html.twig' %}
{% endblock %}
