{% extends '@CeradTourn/layout.html.twig' %}
{% block content %}
<h3>Admin Commands</h3>
<ul>
    <li><a href="{{ path('cerad_tourn_admin_referee_export') }}">Export List of Referees(Excel)</a></li>
</ul>
{% endblock %}