{% if profile %}
<h3>Create Account from Social Network</h3>
<p>
    You got to this screen by clicking on one of the socal network buttons (Google, Facebook etc).
    No existing zayso account was found.  So fill out the above form and press the button to create a new account.
</p>
<p>
    It's possible that you got here by accident.  
    If you already have a zayso account then you may have clicked on the wrong social network button.
    If so then just go back to the Welcome screen and try again.
</p>
{% endif %}
