{% extends '@CeradGameV2/layout.html.twig' %}
  
{% block content %}
<h3>GamesV2 Master Schedule</h3>
{% include('@CeradGameV2/schedule/master/search.html.twig') %}
{% include('@CeradGameV2/schedule/master/games.html.twig')  %}

{% endblock %}
