{% extends '@CeradTourn/layout.html.twig' %}
  
{% block content %}
<h3>Edit Person</h3>
{% include '@CeradTourn/Person/Edit/form.html.twig' %}
{% include '@CeradTourn/Person/Edit/help.html.twig' %}
{% endblock %}
