{% extends '@CeradTourn/layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
  <link rel="stylesheet" href="{{  asset('bundles/ceradtourn/css/schedule.css')}}"  media="all" />
{% endblock %}
  
{% block content %}
<h3>Pool Play Games and Results</h3>
{% include('@CeradTourn/results/poolplay/select.html.twig') %}
<br />

{% for poolKey, pool in pools %}
  {% include('@CeradTourn/results/poolplay/games.html.twig') %}
  <br />
  {% include('@CeradTourn/results/poolplay/teams.html.twig') %}
  <br />
{% endfor %}
{% endblock %}
