{% extends '@CeradAccount/layout.html.twig' %}
  
{% block content %}
<h3>Account Welcome Page</h3>

<h5>Log in to existing account.</h5>
{% include '@CeradAccount/Security/login_form.html.twig' %}
{% endblock %}
